bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
run_tests/

/tools/NuGet.exe
/App_Data
/secrets
/data/35_test/
/data/500_run_0707/
/data/completed/
/data/samples/
/data/500_data/
.secrets
appsettings.json
local.settings.json
.github/instructions/

node_modules
dist

# Local python packages
.python_packages/
.env

# Python Environments
.env
.venv*
env/
.venv/*
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json